<footer class="rodape">
    <i class="bi bi-telephone-fill"></i>
    <h2 class="msg">Ligue e faça a sua reserva!</h2>
    <h3 class="phone">(55)3272-9999</h3>
    <p class="endereco">Avenida Vaz Ferreira, 797, Centro, Tupanciretã - RS</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3486.7301390656444!2d-53.838527924791954!3d-29.084118387411202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9502096fc0798f8d%3A0x1699d662f263e707!2sPizzaria%20Dom%20Miguel!5e0!3m2!1spt-BR!2sbr!4v1716213058903!5m2!1spt-BR!2sbr" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--Sociais-->

    <!--Fim Sociais-->
</footer>
<div class="creditos">
    <p>Copyrigth Pizzaria Dom Miguel - 2024</p>
    <p>Powered by <a href="https://www.marciodavid.com" target="_blank">Marcio David - Web Developer</a></p>
</div>
