/* banner sociais */
.sociais{
    background: var(--primary-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 90px;
}
.wrapper .button{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px ;
    background: rgba(255, 255, 255, 0);
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background-color: #075CE5;
    color: #fff;
}
.wrapper .button:nth-child(2):hover .icon{
    background-image: linear-gradient(225deg, #9F27E1, #FD1262, #FEAC08);
    color: #fff;
}
.wrapper .button:nth-child(3):hover .icon{
    background-color: #08D465;
    color: #fff;
}
.wrapper .button .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s ease-out;
}
.wrapper .button .icon i{
    font-size: 30px;
    line-height: 40px;
    transition: all 0.5s ease-out;
}
.wrapper .button span{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    color: var(--tertiary-color);
    line-height: 40px;
    margin-left: 10px;
}
.wrapper .button:hover{
    width: 200px;
}
/* fim banner sociais */

/* header */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--quinary-color);
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 250px;
}
.logo>a>img{
    width: 115px;
    height: 70px;
    transition: 0.5s;

    &:hover{
        transform: scale(1.05);
        filter: drop-shadow(0 0 5px var(--primary-color));
    }
}

nav{
    display: flex;
    flex-direction: row;

    ul{
        display: flex;
        list-style: none;
        gap: 50px;

        li{
            a{
                font-size: 20px;
                font-weight: 800;
                font-family: var(--primary-font);
                text-decoration: none;
                color: var(--tertiary-color);
                transition: 0.5s;
                cursor: pointer;

                &:hover{
                    color: var(--secondary-color);
                }
                &:active{
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.btn-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        font-family: var(--primary-font);
        font-size: 20px;
        color: white;
        background-color: var(--secondary-color);
        padding: 10px 40px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 5px rgb(0, 0, 0);
        }
    }
}
/* fim header */

/* banner vermelho (bandeira itália) */
.bandeira{
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
}
/* fim banner vermelho (bandeira itália) */