<!--banner sociais-->
<div class="sociais">
    <div class="wrapper">
            <div class="button">
                    <div class="icon">
                        <a href="https://www.facebook.com/PizzariaDomMiguel" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </div>
                    <span>Facebook</span>
            </div>
            <div class="button">
                    <div class="icon">
                        <a href="https://www.instagram.com/dommiguelpizzaria/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                    <span>Instagram</span>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="https://wa.link/b5haj0" target="_blank">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </div>
                <span>Whastsapp</span>                
            </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!--fim banner sociais-->

<!--header-->
<header class="container">
    <div class="logo">
        <a href="/">
            <img src="../../../assets/Logo.png" alt="Logo">
        </a>
    </div>
    <div class="menu">
        <nav class="menu-desktop">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cardapio">Cardápio</a></li>
                <li><a routerLink="/sobre">Sobre Nós</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div class="btn-contato">
        <a href="https://wa.me" target="_blank"><button>Contato</button></a>
    </div>
<!--menu mobile-->
    <div class="open-mobile"  id="btn-menu">
        <i class="bi bi-list"></i>
    </div>
    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <i class="bi bi-x-circle"></i>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cardapio">Cardápio</a></li>
                <li><a routerLink="/sobre">Sobre Nós</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
<!--fim menu mobile-->
    <div class="overlay-menu"></div>
</header>
<!--fim header-->

<!--banner vermelho (bandeira itália)-->
<div class="bandeira"></div>
<!--fim banner vermelho (bandeira itália)-->
