<div class="sociais">
    <a href="https://www.facebook.com/" target="_blank">
        <i class="bi bi-facebook" title="Facebook"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
        <i class="bi bi-instagram" title="Instagram"></i>
    </a>
    <a href="https://wa.me/" target="_blank">
        <i class="bi bi-whatsapp" title="WhatsApp"></i>
    </a>
</div>
<header class="container">
    <div class="logo">
        <a href="/">
            <img src="../../../assets/Logo.png" alt="Logo">
        </a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cardapio">Cardápio</a></li>
                <li><a routerLink="/sobre">Sobre Nós</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div class="btn-contato">
        <a href="https://wa.me" target="_blank"><button>Contato</button></a>
    </div>
</header>
