<!--banner sociais-->
<div class="sociais">
    <div class="wrapper">
        <a href="https://www.facebook.com/PizzariaDomMiguel" target="_blank">
            <div class="button">
                <div class="icon">
                    <i class="bi bi-facebook"></i>
                </div>
                <span>Facebook</span>
            </div>
        </a>
        <a href="https://www.instagram.com/dommiguelpizzaria/" target="_blank">
            <div class="button">
                <div class="icon">
                    <i class="bi bi-instagram"></i>
                </div>
                <span>Instagram</span>
            </div>
        </a>
        <a href="https://wa.link/b5haj0" target="_blank">
            <div class="button">
                <div class="icon">
                    <i class="bi bi-whatsapp"></i>
                </div>
                <span>Whastsapp</span>                
            </div>
        </a>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!--fim banner sociais-->

<!--header-->
<header class="container">
    <div class="logo">
        <a href="/">
            <img src="../../../assets/Logo.png" alt="Logo">
        </a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cardapio">Cardápio</a></li>
                <li><a routerLink="/sobre">Sobre Nós</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div class="btn-contato">
        <a href="https://wa.me" target="_blank"><button>Contato</button></a>
    </div>
</header>
<!--fim header-->

<!--banner vermelho (bandeira itália)-->
<div class="bandeira"></div>
<!--fim banner vermelho (bandeira itália)-->
