<main>
    <section>
        <div class="banner">
            <h1>Dom Miguel</h1>
            <img src="../../../assets/Faixap.png" alt="">
        </div>
        <div class="bem-vindo">
            <div class="saudacao">
                <h2>Bem-vindo</h2>
                <h3>A melhor pizza da cidade<br>
                    desde 2003</h3>
                <p>Eleita por 5 vezes a pizzaria Destaque de Tupanciretã,<br>
                    segundo votação popular</p>
            </div>
            <div class="pizza">
                <img src="../../../assets/pngwing.com.png" alt="">
            </div>
            <div class="happy">
                <img src="../../../assets/happy.png" alt="">
            </div>
        </div>
        <div class="cardapio">
            <div class="header-cardapio">
                <img src="../../../assets/Folha.png" alt="">
                <h2>Nosso Cardápio</h2>
                <p>Ingredientes selecionados para resultar na melhor pizza!</p>
            </div>
            <div class="body-cardapio">
                <div class="cardapio-item">
                    <img src="../../../assets/Capabresa.png" alt="">
                    <h3>Calabresa</h3>
                    <p>Calabresa, cebola, azeitona, orégano e molho de tomate</p>
                    <div class="price-item">
                        <span class="price-item"><strong>P&nbsp;</strong>R$35,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>M&nbsp;</strong>R$45,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>G&nbsp;</strong>R$50,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="cardapio-item">
                    <img src="../../../assets/Strogonof.png" alt="">
                    <h3>Frango com Catupiry</h3>
                    <p>Frango, catupiry, milho, orégano e molho de tomate</p>
                    <div class="price-item">
                        <span class="price-item"><strong>P&nbsp;</strong>R$35,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>M&nbsp;</strong>R$45,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>G&nbsp;</strong>R$50,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="cardapio-item">
                    <img src="../../../assets/Tomate.png" alt="">
                    <h3>Portuguesa</h3>
                    <p>Presunto, ovo, cebola, azeitona, orégano e molho de tomate</p>
                    <div class="price-item">
                        <span class="price-item"><strong>P&nbsp;</strong>R$35,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>M&nbsp;</strong>R$45,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>G&nbsp;</strong>R$50,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="cardapio-item">
                    <img src="../../../assets/Peperoni.png" alt="">
                    <h3>Quatro Queijos</h3>
                    <p>Mussarela, provolone, parmesão, catupiry e molho de tomate</p>
                    <div class="price-item">
                        <span class="price-item"><strong>P&nbsp;</strong>R$35,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>M&nbsp;</strong>R$45,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="price-item"><strong>G&nbsp;</strong>R$50,00</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="buton-cardapio">
                <button>CARDÁPIO COMPLETO</button>
            </div>
        </div>
    </section>
</main>
