*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}

.bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(../../../assets/Parallax.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    color: var(--secondary-color);
    padding: 50px 0;

    h2{
        font-family: var(--secondary-font);
        font-size: 70px;
        color: var(--secondary-color);
    }
    h3{
        font-family: var(--primary-font);
        font-size: 35px;
        color: var(--tertiary-color);
        font-weight: 300;
    }

    .pizza>img{
        width: 535px;
        height: 540px;
        margin-left: 50px;
    }

    .happy>img{
        width: 315px;
        height: 550px;
        margin-right: 50px;
        border-radius: 20px;
    }

    p{
        font-family: var(--primary-font);
        color: var(--tertiary-color);
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }
}

.cardapio{
    display: flex;
    flex-direction: column;
    background-color: var(--quinary-color);
    padding: 50px 0;

    .header-cardapio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 25px 0 50px 0;
        gap: 20px;

        h2{
            font-family: var(--secondary-font);
            font-size: 70px;
            color: var(--secondary-color);
        }
        p{
            font-family: var(--primary-font);
            font-size: 16px;
            color: var(--tertiary-color);
            font-weight: 400;
            margin-top: 20px;
        }
    }

    .body-cardapio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .cardapio-item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            margin: 10px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
                transform: scale(1.01);
            }

            img{
                width: 300px;
                height: 250px;
            }

            h3{
                font-family: var(--secondary-font);
                font-size: 40px;
                color: var(--primary-color);
            }

            p{
                font-family: var(--primary-font);
                font-size: 16px;
                color: var(--tertiary-color);
                font-weight: 400;
                margin-top: 20px;
            }

            .price-item{
                padding-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family: var(--primary-font);
                color: var(--secondary-color);
                font-size: 20px;
                strong{
                    font-size: 32px;
                    font-weight: 700;
                }
            }
        }
    }

    .buton-cardapio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 50px 0;

        button{
            font-family: var(--primary-font);
            font-size: 20px;
            color: white;
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 5px rgb(0, 0, 0);
            }
        }
    }
}

.happy-hour{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Parallax.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    gap: 0;

    .happy-img{
        display: flex;
        padding: 50px;

        img{
            width: 900px;
            height: 550px;
            border-radius: 20px;
        }
    }

    .happy-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        gap: 20px;

        h3{
            font-family: var(--primary-font);
            font-size: 18px;
            color: var(--tertiary-color);
            font-weight: 300;}

        h2{
            font-family: var(--secondary-font);
            font-size: 36px;
            color: var(--secondary-color);
        }

        p{
            font-family: var(--primary-font);
            font-size: 18px;
            color: var(--tertiary-color);
            font-weight: 400;
            margin-top: 20px;

            strong{
                font-size: 36px;
            }
        }

    }
}

.depoimentos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--quinary-color);
    padding: 50px;
    gap: 20px;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        img{
            width: 200px;
            height: 200px;
        }

        h2{
            font-family: var(--secondary-font);
            font-size: 36px;
            color: var(--secondary-color);
        }
    }

    .depoimento{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        img{
            width: 150px;
            height: 150px;
            filter: drop-shadow(0 0 5px rgb(0, 0, 0));
        }

        h4{
            font-family: var(--primary-font);
            font-size: 20px;
            color: var(--tertiary-color);
        }
        .empresa{
            font-family: var(--primary-font);
            font-size: 16px;
            color: rgba(0, 0, 0, 0.348);
        }

        p{
            font-family: var(--primary-font);
            font-size: 16px;
            color: var(--tertiary-color);
            font-weight: 400;
            margin-top: 20px;
        }
    }
}

.botao-whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 25px;
    background-color: #15C149;
    border-radius: 50px;
    display: flex;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    box-shadow: 1px 2px 5px #15C149;

    .bi-whatsapp{
        margin-top: 7px;
        margin-left: 15px;
        color: white;
    }
}

/*MEDIA QUERIES*/
@media (width <= 1024px){
    /*Home*/
    .botao-whatsapp{
      display: none;
    }
    .bem-vindo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        .saudacao{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2{
            font-size: 50px;
        }

        h3{
            font-size: 30px;
        }

        p{
            font-size: 15px;
        }
        .pizza>img{
            width: 430px;
            height: 470px;
            padding-bottom: 100px;
        }
        .happy>img{
            margin-right: 0;
        }
    }

    .cardapio{
        .header-cardapio{
            h2{
                font-size: 40px;
            }

            p{
                font-size: 15px;
            }
        }

        .body-cardapio{
            display: flex;
            flex-direction: column;
            .cardapio-item{
                img{
                    width: 250px;
                    height: 200px;
                }

                h3{
                    font-size: 30px;
                }

                p{
                    font-size: 15px;
                }

                .price-item{
                    font-size: 16px;

                    strong{
                        font-size: 28px;
                    }
                }
            }
        }

        .buton-cardapio{
            button{
                font-size: 16px;
            }
        }
    }

    .happy-hour{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .happy-img{
            img{
                width: 500px;
                height: 300px;
            }
        }

        .happy-info{
            h3{
                font-size: 16px;
            }

            h2{
                font-size: 30px;
            }

            p{
                font-size: 16px;

                strong{
                    font-size: 28px;
                }
            }
        }
    }

    .depoimentos{
        display: flex;
        flex-direction: column;
        .title{
            img{
                width: 150px;
                height: 150px;
            }

            h2{
                font-size: 30px;
            }
        }

        .depoimento{
            img{
                width: 100px;
                height: 100px;
            }

            h4{
                font-size: 16px;
            }

            .empresa{
                font-size: 14px;
            }

            p{
                font-size: 14px;
            }
        }
    }
}

