<app-navbar></app-navbar>

<main>
    <section>
        <div class="banner"> <!-- Banner -->
            <img src="../../../assets/Banner1.png" alt="">
        </div> <!-- Fim Banner -->

        <div class="bem-vindo"> <!-- Bem-vindo -->
            <div class="saudacao">
                <h2>Bem-vindo</h2>
                <h3>A melhor pizza da cidade<br>
                    desde 2003</h3>
                <p>Eleita por 5 vezes a pizzaria Destaque de Tupanciretã,<br>
                    segundo votação popular</p>
            </div>
            <div class="pizza">
                <img src="../../../assets/pngwing.com.png" alt="">
            </div>
            <div class="happy">
                <img src="../../../assets/happy.png" alt="">
            </div>
        </div> <!-- Fim Bem-vindo -->

        <div class="cardapio"> <!-- Cardápio -->
            <div class="header-cardapio">
                <img src="../../../assets/Folha.png" alt="">
                <h2>Nosso Cardápio</h2>
                <p>Uma amostra das delícias que temos à oferecer!</p>
            </div>
            <div class="body-cardapio">
                <div class="cardapio-item">
                    <img src="../../../assets/pizzacapa.png" alt="">
                    <h3>Pizzas</h3>
                    <p>Selecionamos os melhores ingredintes!</p>
                    <div class="price-item">
                        <span class="price-item">
                          Á partir de R$35,00</span>
                    </div>
                    <div class="buton-cardapio">
                      <a  routerLink="/cardapio"><button>CARDÁPIO COMPLETO</button></a>
                  </div>
                </div>
                <div class="cardapio-item">
                    <img src="../../../assets/burgercapa.png" alt="">
                    <h3>Hamburger</h3>
                    <p>Hamburger de carnes nobres e um pão delicioso!</p>
                    <div class="price-item">
                        <span class="price-item">À partir de R$20,00</span>
                    </div>
                    <div class="buton-cardapio">
                      <a  routerLink="/hamburger"><button>CARDÁPIO COMPLETO</button></a>
                  </div>
                </div>
                <div class="cardapio-item">
                    <img src="../../../assets/bebidascapa.png" alt="">
                    <h3>Bebidas</h3>
                    <p>Nada melhor do que um refri gelado pra acompanhar!</p>
                    <div class="price-item">
                        <span class="price-item">À partir de R$10,00</span>
                    </div>
                    <div class="buton-cardapio">
                      <a  routerLink="/refrigerante"><button>CARDÁPIO COMPLETO</button></a>
                  </div>
                </div>
            </div>
        </div> <!-- Fim Cardápio -->

        <div class="happy-hour"> <!-- Happy Hour -->
            <div class="happy-img">
                <img src="../../../assets/hour.jpg" alt="">
            </div>
            <div class="happy-info">
                <img src="../../../assets/chopp.svg"alt="">
                <h3>Toda quarta-feira</h3>
                <h2>Happy Hour!</h2>
                <p>Pizza grande mais rodada de chopp por apenas</p>
                <p><strong>R$50,00</strong></p>
            </div>
        </div> <!-- Fim Happy Hour -->

        <div class="depoimentos"> <!-- Depoimentos -->
            <div class="title">
                <img src="../../../assets/Apostrofos.png" alt="">
                <h2>Depoimentos</h2>
            </div>
            <div class="depoimento">
                <img src="../../../assets/Maria.png" alt="">
                <p>“A melhor pizza do bairro, e quando pedimos o chopp para
                    acompanhar, temos a dupla perfeita. Recomendo a todos
                    aqueles que procuram um lugar agradável para jantar.”</p>
                <h4>Maria R</h4>
                <h4 class="empresa">Facebook</h4>
            </div>
            <div class="depoimento">
                <img src="../../../assets/Joana.png" alt="">
                <p>“A melhor pizza do bairro, e quando pedimos o chopp para
                    acompanhar, temos a dupla perfeita. Recomendo a todos
                    aqueles que procuram um lugar agradável para jantar.”</p>
                <h4>Joana F</h4>
                <h4 class="empresa">Instagram</h4>
            </div>
            <div class="depoimento">
                <img src="../../../assets/Vera.png" alt="">
                <p>“A melhor pizza do bairro, e quando pedimos o chopp para
                    acompanhar, temos a dupla perfeita. Recomendo a todos
                    aqueles que procuram um lugar agradável para jantar.”</p>
                <h4>Vera L</h4>
                <h4 class="empresa">You Tube</h4>
            </div>
        </div> <!-- Fim Depoimentos -->
    </section>

    <a href="https://wa.me" class="botao-whatsapp" target="_blank"><!-- Botão WhatsApp -->
        <i class="bi bi-whatsapp"></i>
    </a>
    <!-- Fim Botão WhatsApp -->
</main>
<app-footer></app-footer>

