<app-navbar></app-navbar>

<main>
    <section>
        <div class="banner"> <!-- Banner -->
            <img src="../../../assets/Banner1.png" alt="">
        </div> <!-- Fim Banner -->
        <!--Cards-->
        <div class="products">
          <div class="card">
            <div class="image_container">
              <a href=""><img class="image" src="../../../assets/coca.png" alt=""></a>
            </div>
            <div class="title">
              <span>Coca Cola</span>
            </div>
            <div class="size">
              <span>Tamanhos Disponíveis</span>
              <ul class="list-size">
                <li class="item-list"><button class="item-list-button">Lata </button></li>
                <li class="item-list"><button class="item-list-button">600 Ml</button></li>
                <li class="item-list"><button class="item-list-button">2,0 Lt</button></li>
              </ul>
            </div>
            <div class="action">
              <div class="price">
                <span>R$12,00</span>
              </div>
              <button class="cart-button">
                <a href="https://wa.me" target="_blank" title="WhatsApp"><span>Peça já</span></a>
              </button>
            </div>
          </div>
          <div class="card">
            <div class="image_container">
              <a href=""><img class="image" src="../../../assets/fantau.png" alt=""></a>
            </div>
            <div class="title">
              <span>Fanta Uva</span>
            </div>
            <div class="size">
              <span>Tamanhos Disponíveis</span>
              <ul class="list-size">
                <li class="item-list"><button class="item-list-button">Lata </button></li>
                <li class="item-list"><button class="item-list-button">600 Ml</button></li>
                <li class="item-list"><button class="item-list-button">2,0 Lt</button></li>
              </ul>
            </div>
            <div class="action">
              <div class="price">
                <span>R$10,00</span>
              </div>
              <button class="cart-button">
                <a href="https://wa.me" target="_blank" title="WhatsApp"><span>Peça já</span></a>
              </button>
            </div>
          </div>
          <div class="card">
            <div class="image_container">
              <a href=""><img class="image" src="../../../assets/sprite.png" alt=""></a>
            </div>
            <div class="title">
              <span>Sprite</span>
            </div>
            <div class="size">
              <span>Tamanhos Disponíveis</span>
              <ul class="list-size">
                <li class="item-list"><button class="item-list-button">Lata </button></li>
                <li class="item-list"><button class="item-list-button">600 Ml</button></li>
                <li class="item-list"><button class="item-list-button">2,0 Lt</button></li>
              </ul>
            </div>
            <div class="action">
              <div class="price">
                <span>R$12,00</span>
              </div>
              <button class="cart-button">
                <a href="https://wa.me" target="_blank" title="WhatsApp"><span>Peça já</span></a>
              </button>
            </div>
          </div>
          <div class="card">
            <div class="image_container">
              <a href=""><img class="image" src="../../../assets/guarana.png" alt=""></a>
            </div>
            <div class="title">
              <span>Guaraná Antarctica</span>
            </div>
            <div class="size">
              <span>Tamanhos Disponíveis</span>
              <ul class="list-size">
                <li class="item-list"><button class="item-list-button">Lata </button></li>
                <li class="item-list"><button class="item-list-button">600 Ml</button></li>
                <li class="item-list"><button class="item-list-button">2,0 Lt</button></li>
              </ul>
            </div>
            <div class="action">
              <div class="price">
                <span>R$10,00</span>
              </div>
              <button class="cart-button">
                <a href="https://wa.me" target="_blank" title="WhatsApp"><span>Peça já</span></a>
              </button>
            </div>
          </div>

        </div>

        <!--Fim Cards-->
    </section>
    <a href="https://wa.me" class="botao-whatsapp" target="_blank">
        <i class="bi bi-whatsapp"></i>
   </a>
</main>
<app-footer></app-footer>
