<app-header></app-header>
<main>
    <section>
        <div class="banner"> <!-- Banner -->
            <h1>Dom Miguel</h1>
            <img src="../../../assets/Faixap.png" alt="">
        </div> <!-- Fim Banner -->

        <div class="sobre flex flex-col items-center gap-5">
            <h1>Sobre nós</h1>
            <p>Olá, nós somos a Pizzaria Dom Miguel!</p>
        </div>
    </section>
    <a href="https://wa.me" class="botao-whatsapp" target="_blank">
        <i class="bi bi-whatsapp"></i>
   </a>
</main>
<app-footer></app-footer>
