<app-navbar></app-navbar>

<main>
    <section>
        <div class="banner"> <!-- Banner -->
            <h1>Dom Miguel</h1>
            <img src="../../../assets/Faixap.png" alt="">
        </div> <!-- Fim Banner -->

        <div class="sobre flex flex-col items-center gap-5">
            <h1>Sobre nós</h1>
            <h2>Olá, nós somos a Pizzaria Dom Miguel!</h2>
            <p>Desde 2010, a Pizzaria Dom Miguel tem sido um marco de qualidade e tradição na arte de fazer pizzas. Fundada com a missão de trazer aos nossos clientes a verdadeira experiência italiana, nossa pizzaria combina ingredientes frescos, receitas autênticas e um toque de inovação para criar sabores únicos e irresistíveis.</p>
            <h2>Nossa História</h2>
            <p>A Pizzaria Dom Miguel nasceu do sonho de Miguel, um apaixonado pela culinária italiana, que decidiu transformar seu amor por pizzas em um negócio familiar. Com dedicação e muito trabalho, a pequena pizzaria cresceu e conquistou o coração dos moradores locais, tornando-se um ponto de encontro querido na comunidade.</p>
            <h2>Nossa Missão</h2>
            <p>Nossa missão é proporcionar momentos inesquecíveis através de nossas pizzas. Acreditamos que uma boa pizza é feita não apenas de ingredientes de alta qualidade, mas também de amor e cuidado em cada etapa do processo. Da seleção dos tomates mais maduros à confecção artesanal da massa, cada detalhe é cuidadosamente pensado para oferecer a melhor experiência gastronômica.</p>
            <h2>Nosso Compromisso</h2>
            <p>Estamos comprometidos com a excelência em tudo o que fazemos. Utilizamos apenas ingredientes frescos e selecionados, e nossa massa é preparada diariamente para garantir leveza e sabor inigualáveis. Além disso, nos orgulhamos de oferecer um ambiente acolhedor e um serviço de primeira, onde nossos clientes se sentem em casa.</p>
            <h2>Nossos Diferenciais</h2>
                <ul>
                    <li><strong>Receitas Autênticas:</strong> Mantemos viva a tradição italiana com receitas que passam de geração em geração.</li>
                    <li><strong>Ingredientes Frescos:</strong> Selecionamos os melhores ingredientes, sempre frescos e de alta qualidade.</li>
                    <li><strong>Massa Artesanal:</strong> Nossa massa é preparada diariamente, garantindo uma textura leve e crocante.</li>
                    <li><strong>Variedade:</strong> Oferecemos uma ampla variedade de pizzas, desde as clássicas até criações exclusivas, para agradar todos os paladares.</li>
                </ul>
            <h2>Convidamos Você</h2>
            <p>Venha nos visitar e descobrir por que a Pizzaria Dom Miguel é a escolha preferida de quem aprecia uma boa pizza. Seja para um jantar em família, uma reunião entre amigos ou uma ocasião especial, estamos aqui para tornar seus momentos ainda mais saborosos.</p>
            <h3>Esperamos vê-lo em breve na Pizzaria Dom Miguel, onde cada pizza é feita com paixão e dedicação!</h3>
        </div>
    </section>
    <a href="https://wa.me" class="botao-whatsapp" target="_blank">
        <i class="bi bi-whatsapp"></i>
   </a>
</main>
<app-footer></app-footer>
