<app-navbar></app-navbar>
<main>
  <section>
    <div class="banner"> <!-- Banner -->
      <img src="../../../assets/Banner1.png" alt="">
  </div> <!-- Fim Banner -->

  <div class="cardapio flex flex-col items-center gap-5">
    <h1>Cardápio Completo</h1>
    <p>Confira nossas delícias!</p>
    <!--card-->
    <!--burger1-->
    <div class="pizzas">
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger1.png" alt="">
                <span class="card__price">À PARTIR DE R$20,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">Clássico Suculento</p>
              <p class="card__description">
                Pão de brioche, hambúrguer de carne bovina (150g), queijo cheddar, alface americana, tomate, cebola roxa, picles, maionese e ketchup.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger1-->
        <!--card burger2-->
         <div class="card">
            <div class="folder">
                <img src="../../../assets/burger2.png" alt="">
                <span class="card__price">À PARTIR DE R$25,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">ESPECIAL GOURMET</p>
              <p class="card__description">
                Pão de brioche artesanal, hambúrguer de carne angus (180g), queijo gorgonzola, rúcula, cebola caramelizada, tomate confit, maionese de mostarda dijon.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger2-->
         <!--card burger3-->
         <div class="card">
            <div class="folder">
                <img src="../../../assets/burger3.png" alt="">
                <span class="card__price">À PARTIR DE R$25,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">VEGETARIANO DELÍCIA</p>
              <p class="card__description">
                Pão integral, hambúrguer de grão-de-bico, queijo muçarela vegana, alface crespa, tomate, abacate fatiado, maionese vegana, molho barbecue vegano.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger3-->
        <!--card burger4-->
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger4.png" alt="">
                <span class="card__price">À PARTIR DE R$20,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">FRANGO CROCANTE</p>
              <p class="card__description">
                Pão de gergelim, filé de frango empanado, queijo prato, alface americana, tomate, maionese de ervas, bacon crocante.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger4-->
        <!--card burger3-->
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger1.png" alt="">
                <span class="card__price">À PARTIR DE R$30,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">DUPLO SABOR</p>
              <p class="card__description">
                Pão de brioche, dois hambúrgueres de carne bovina (100g cada), queijo cheddar, bacon crocante, picles, molho especial da casa, cebola crispy.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger3-->
        <!--card burger3-->
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger2.png" alt="">
                <span class="card__price">À PARTIR DE R$20,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">SABOR DO CAMPO</p>
              <p class="card__description">
                Pão de batata, hambúrguer de carne de cordeiro (150g), queijo feta, rúcula, tomate, molho de iogurte com hortelã.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger3-->
        <!--card burger3-->
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger3.png" alt="">
                <span class="card__price">À PARTIR DE R$25,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">PRAIANO</p>
              <p class="card__description">
                Pão australiano, hambúrguer de peixe (tilápia ou salmão), queijo suíço, alface roxa, pepino em rodelas, molho tártaro.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger3-->
        <!--card burger3-->
        <div class="card">
            <div class="folder">
                <img src="../../../assets/burger4.png" alt="">
                <span class="card__price">À PARTIR DE R$25,00</span>
            </div>
            <div class="card__content">
              <p class="card__title">MEXICANO PICANTE</p>
              <p class="card__description">
                Pão de brioche, hambúrguer de carne bovina (150g), queijo cheddar, guacamole, jalapeños, tomate, nachos triturados, molho chipotle.
                <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
              </p>
            </div>
        </div>
        <!--fim card burger3-->
    </div>
    <!--card-->
</div>
  </section>
</main>
<app-footer></app-footer>
