@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --primary-color: #017301;
    --secondary-color: #cf3b2f;
    --tertiary-color: #262626;
    --quaternary-color: #ff8800;
    --quinary-color: #01730106;
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Berkshire Swash', cursive;
    --tertiary-font: 'Times New Roman', serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
