<app-navbar></app-navbar>

<main>
    <section>
        <div class="banner"> <!-- Banner -->
            <img src="../../../assets/Banner1.png" alt="">
        </div> <!-- Fim Banner -->

        <div class="cardapio flex flex-col items-center gap-5">
            <h1>Cardápio Completo</h1>
            <p>Confira nossas delícias!</p>
            <!--card-->
            <!--card pizza1-->
            <div class="pizzas">
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-1.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">CALABRESA</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza1-->
                <!--card pizza2-->
                 <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-2.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">PORTUGUESA</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza2-->
                 <!--card pizza3-->
                 <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-3.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">STROGONOFE</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza3-->
                <!--card pizza4-->
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-4.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">FRANGO CATUPIRY</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza4-->
                <!--card pizza3-->
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-1.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">STROGONOFE</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza3-->
                <!--card pizza3-->
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-2.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">STROGONOFE</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza3-->
                <!--card pizza3-->
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-3.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">STROGONOFE</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza3-->
                <!--card pizza3-->
                <div class="card">
                    <div class="folder">
                        <img src="../../../assets/pizza-4.png" alt="">
                        <span class="card__price">À PARTIR DE R$35,00</span>
                    </div>
                    <div class="card__content">
                      <p class="card__title">STROGONOFE</p>
                      <p class="card__description">
                        Deliciosa pizza de calabresa com cebola e azeitonas pretas. Opção de borda recheada com catupiry.
                        <span class="card__price"><a href="https://wa.me" target="_blank">Peça já!</a></span>
                      </p>
                    </div>
                </div>
                <!--fim card pizza3-->
            </div>
            <!--card-->
        </div>
    </section>
    <a href="https://wa.me" class="botao-whatsapp" target="_blank">
        <i class="bi bi-whatsapp"></i>
   </a>
</main>
<app-footer></app-footer>
