*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/banner.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;

    h1{
        font-family: var(--secondary-font);
        font-size: 100px;
        color: var(--primary-color);
    }
    
    img{
        filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    }
}

.cardapio{
    background-image: url(../../../assets/parede.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    padding: 50px 0;
    text-align: center;

    h1{
        font-family: var(--secondary-font);
        font-size: 70px;
        color: white;
    }
    p{
        padding-bottom: 50px;
        font-family: var(--primary-font);
        font-size: 35px;
        color: white;
        font-weight: 300;
    }
}

.pizzas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 40px;
}

/*card*/
.card {
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .folder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span{
        background-color: #CF3B2F;
        font-family: var(--primary-font);
        font-size: 20px;
        color: #fefefe;
        font-weight: 900;
        padding: 5px 20px;
        border-radius: 30px;
    }
  }
  
  .card img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cf3c2f;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__content .card__title {
    display: flex;
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 900;
    justify-content: center;
  }
  
  .card__content .card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4;

    .card__price{
        background-color: var(--primary-color);
        font-size: 22px;
        color: var(--quartiary-color);
        padding: 5px 20px;
        border-radius: 30px;
        margin-top: 25px;
    }
  }
  
  .card:hover img {
    scale: 0;
  }
  
   

/*botão whatsapp*/
.botao-whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 25px;
    background-color: #15C149;
    border-radius: 50px;
    display: flex;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    box-shadow: 1px 2px 5px #15C149;

    .bi-whatsapp{
        margin-top: 7px;
        margin-left: 15px;
        color: white;
    }
}

/*MEDIA QUERIES*/

@media (width <= 1024px){
  /*Home*/
  .botao-whatsapp{
    display: none;
  }
  .banner{
      height: 500px;

      h1{
          font-size: 70px;
      }

      img{
          width: 300px;
          height: 100px;
          margin-top: 0;
      }
  }

  .cardapio{
    text-align: center;
      h1{
          font-size: 40px;
      }
      p{
          font-size: 25px;
      }
  }

  .pizzas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

}

.menu-mobile.abrir-menu{
  width: 50%;
}

@media (width < 768px){
  .pizzas{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}